<!DOCTYPE html>
<html>
<head>
  <title>Error - TinyApp</title>
</head>
<body>
  <h2> Error. </h2>
  <h4> status : <%= statusCode%> </h4>
  <p> <%= statusMessage %> <a href = " <%=urlPath%>  "> <i> <%= urlText%> </i> </a></p>
</body>
</html>